<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todoList</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div id="app">
    <h1>todos</h1>
    <input type="text" autofocus placeholder="What needs to be done?" v-model="currentInput"
      v-on:keyup.enter="addToArr">
    <a href="#" @click="checkAll" :style="{color : check ? '#737373' : '#e6e6e6'}" class="checkAll">
      <i class="fas fa-check"></i>
    </a>
    <ul>
      <li v-for="item in arr" :class="{completed:item.done}">
        <div v-on:click="item.done = !item.done">
          <input type="checkbox" name="" class="checkbox" :checked="true ? item.done : item.done == false">
          <label>
            {{ item.name }}
          </label>
        </div>
        <a href="#" @click="editRow(item)" class="edit">
          <i class="fas fa-edit"></i>
        </a>
        <button class="remove" v-on:click="removeFromArr(item)">x</button>
      </li>
    </ul>
    <div class="footer">
      <span>
        <strong>{{notDone}}</strong>
        item left
      </span>
      <a href="#" class="clearcompleted" v-on:click="clearCompleted">clear completed</a>
    </div>
  </div>
  <script src="./script.js"></script>
</body>

</html>